<table class="table table-light table-striped table-hover align-items-center  text-center">
          <thead>
            <tr>

                <th scope="col">название курса</th>
                <th scope="col">описание курса</th>
                <th scope="col">фото курса</th>
                <th scope="col">название урока</th>
                <th scope="col">описание урока</th>
                <th scope="col">фото урока</th>
            </tr>
          </thead>
          <tbody>
           {% for object in object_list %}
                <tr>
                    <td>


                    <td>
                        <img src="/media/{{object.preview}}"  width="50" height=50  alt=""/>

                    </td>
                    <td>{{object.product_description}}</td>
                    <td>{{object.category}}</td>
                    <td>{{object.price_per_unit}}</td>

                    <td>{{object.get_status_display}

                                <a class="btn btn-light" href="#">X</a>

                                <a class="btn btn-light" href="#">V</a>

                    </td>
                    <td>
                        <a class="btn.btn-default" href="#" >Update</a>

                            <a class="btn.btn-default" href="#" >Create</a>


                            <a class="btn.btn-default" href="#" >Delete</a>


                    </td>

                    </td>
                </tr>

          {% endfor %}

          </tbody>
        </table>
